@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap");
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
:before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix .helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

a, a:hover, a:focus,
input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus,
button, button:hover, button:focus, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border-radius: 0;
    width: 100%;
    vertical-align: bottom;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0 20px;
}

.flat-decktop {
    display: none;
}

.flat-mobile {
    display: block;
}

.flat-half-width {
    grid-column-end: span 2;
}

.flat-reality.flat-post-category-filter:hover {
    background: #1baf5d;
}

.flat-reality .flat-post-price {
    background: #1baf5d;
}

.flat-reality .flat-post-category {
    background: #1baf5d;
}

.flat-reality .flat-post-image-wrap:after {
    background: #1baf5d;
}

.flat-reality .flat-post-category-title {
    color: #1baf5d;
}
.flat-reality .flat-post-title:hover {
    color: #1baf5d;
}
.flat-reality .flat-offer-info-title {
    color: #1baf5d;
}

.flat-reality .flat-offer-info-item i {
    background: #1baf5d;
}

.react-tabs__tab--selected .flat-offer-category.flat-reality {
    border-color: #1baf5d;
}
.react-tabs__tab--selected .flat-offer-category.flat-reality .fas {
    color: #1baf5d;
}
.flat-reality.flat-offer-category.active {
    border-color: #1baf5d;
}

.flat-reality.flat-offer-category.active .fas {
    color: #1baf5d;
}

.flat-reality.flat-offer-category:hover {
    border-color: #1baf5d;
}

.flat-reality.flat-offer-category:hover .fas {
    color: #1baf5d;
}

.flat-living .flat-post-category-title {
    color: #2756af;
}
.flat-living .flat-post-title:hover {
    color: #2756af;
}

.react-tabs__tab--selected .flat-offer-category.flat-living {
    border-color: #2756af;
}
.react-tabs__tab--selected .flat-offer-category.flat-living .fas {
    color: #2756af;
}
.flat-living .flat-offer-info-title {
    color: #2756af;
}

.flat-living .flat-offer-info-item i {
    background: #2756af;
}
.flat-living.flat-offer-category:hover {
    border-color: #2756af;
}

.flat-living.flat-offer-category:hover .fas {
    color: #2756af;
}

.flat-living.flat-post-category-filter:hover {
    background: #2756af;
}

.flat-living .flat-post-price {
    background: #2756af;
}

.flat-living .flat-post-category {
    background: #2756af;
}

.flat-living .flat-post-image-wrap:after {
    background: #2756af;
}

.flat-living .flat-post-category-title {
    color: #2756af;
}

.react-tabs__tab--selected .flat-offer-category.flat-education {
    border-color: #2756af;
}
.react-tabs__tab--selected .flat-offer-category.flat-education .fas {
    color: #2756af;
}
.flat-living.flat-offer-category.active {
    border-color: #2756af;
}

.flat-living.flat-offer-category.active .fas {
    color: #2756af;
}   

.flat-living.flat-offer-category:hover {
    border-color: #2756af;
}

.flat-living.flat-offer-category:hover .fas {
    color: #2756af;
}

.flat-education.flat-post-category-filter:hover {
    background: #af0631;
}

.flat-education .flat-post-price {
    background: #af0631;
}

.flat-education .flat-post-category {
    background: #af0631;
}

.flat-education .flat-post-title:hover {
    color: #af0631;
}

.flat-education .flat-post-image-wrap:after {
    background: #af0631;
}

.flat-education .flat-post-category-title {
    color: #af0631;
}

.flat-education .flat-post-category-title {
    color: #af0631;
}

.react-tabs__tab--selected .flat-offer-category.flat-education {
    border-color: #af0631;
}
.react-tabs__tab--selected .flat-offer-category.flat-education .fas {
    color: #af0631;
}
.flat-education .flat-offer-info-title {
    color: #af0631;
}

.flat-education .flat-offer-info-item i {
    background: #af0631;
}
.flat-education.flat-offer-category.active {
    border-color: #af0631;
}

.flat-education.flat-offer-category.active .fas {
    color: #af0631;
}

.flat-education.flat-offer-category:hover {
    border-color: #af0631;
}

.flat-education.flat-offer-category:hover .fas {
    color: #af0631;
}

.flat-entertainment.flat-post-category-filter:hover {
    background: #f19e1f;
}

.flat-entertainment .flat-post-price {
    background: #f19e1f;
}

.flat-entertainment .flat-post-category {
    background: #f19e1f;
}

.flat-entertainment .flat-post-title:hover {
    color: #f19e1f;
}

.flat-entertainment .flat-post-image-wrap:after {
    background: #f19e1f;
}

.flat-entertainment .flat-post-category-title {
    color: #f19e1f;
}

.react-tabs__tab--selected .flat-offer-category.flat-entertainment {
    border-color: #f19e1f;
}
.react-tabs__tab--selected .flat-offer-category.flat-entertainment .fas {
    color: #f19e1f;
}
.flat-entertainment .flat-offer-info-title {
    color: #f19e1f;
}

.flat-entertainment .flat-offer-info-item i {
    background: #f19e1f;
}

.flat-entertainment.flat-offer-category.active {
    border-color: #f19e1f;
}

.flat-entertainment.flat-offer-category.active .fas {
    color: #f19e1f;
}

.flat-entertainment.flat-offer-category:hover {
    border-color: #f19e1f;
}

.flat-entertainment.flat-offer-category:hover .fas {
    color: #f19e1f;
}

.flat-mobility.flat-post-category-filter:hover {
    background: #88499c;
}

.flat-mobility .flat-post-price {
    background: #88499c;
}

.flat-mobility .flat-post-category {
    background: #88499c;
}

.flat-mobility .flat-post-title:hover {
    color: #88499c;
}

.flat-mobility .flat-post-image-wrap:after {
    background: #88499c;
}

.flat-mobility .flat-post-category-title {
    color: #88499c;
}

.react-tabs__tab--selected .flat-offer-category.flat-mobility {
    border-color: #88499c;
}
.react-tabs__tab--selected .flat-offer-category.flat-mobility .fas {
    color: #88499c;
}
.flat-mobility .flat-offer-info-title {
    color: #88499c;
}

.flat-mobility .flat-offer-info-item i {
    background: #88499c;
}

.flat-mobility.flat-offer-category.active {
    border-color: #88499c;
}

.flat-mobility.flat-offer-category.active .fas {
    color: #88499c;
}

.flat-mobility.flat-offer-category:hover {
    border-color: #88499c;
}

.flat-mobility.flat-offer-category:hover .fas {
    color: #88499c;
}

.flat-secondary-title {
    font-size: 18px;
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.flat-image-slide {
    width: 100%;
}

.flat-image-slide img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}


.flat-post-time-filter-name.active {
    color: #e94e38;
}

.flat-post-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flat-post-rating-count {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #566375;
    letter-spacing: 0.5px;
    margin-left: 3px;
}

.flat-rating {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flat-rating input {
    display: none;
}

.flat-rating label {
    display: inline-block;
    padding-right: 2px;
    font-size: 12px;
    color: #d0d0d0;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 100%;
        padding: 0 35px;
    }
    .flat-decktop {
        display: block;
    }
    .flat-mobile {
        display: none;
    }
    .flat-secondary-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1150px) {
    .container {
        max-width: 1145px;
        width: 100%;
        margin: 0 auto;
    }
}