/*Offer style*/
.flat-hoot-offer-wrap {
    background: #f3f1f2;
    padding: 30px 0;
}

.flat-hoot-offer-wrap .react-tabs__tab-list {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.flat-hoot-offer-wrap .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: initial;
    position: relative;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.flat-hoot-offer-wrap .react-tabs__tab--selected {
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 0;
    outline: none;
}

.flat-hoot-offer-title {
    color: #566375;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.flat-hoot-offer-subtitle {
    color: #96a6a7;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.flat-offer-category-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-bottom: 25px;
}

.flat-offer-info-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

.flat-offer-category {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid #96a6a7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flat-offer-category .fas {
    font-size: 18px;
    color: #96a6a7;
}

.flat-offer-info-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.flat-offer-info-item i {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flat-offer-info-item i::before {
    font-size: 15px;
    color: #ffffff;
}
.flat-offer-info-item .flat-offer-info-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #566375;
    line-height: 2;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .flat-offer-category-wrap {
        max-width: 778px;
        width: 100%;
        margin: 0 auto 25px;
    }

    .flat-offer-info-wrap {
        max-width: 778px;
        width: 100%;
        margin: 0 auto 25px;
    }

    .flat-offer-item {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px;
    }

    .flat-offer-info-item {
        width: 50%;
        max-width: 360px;
        flex-direction: row;
        align-items: flex-start;
        margin: 0 25px;
    }
    .flat-offer-info-item i {
        flex-shrink: 0;
        margin: 8px 25px 0 0;
        width: 62px;
        height: 62px;
    }
    .flat-offer-info-item i:bedore {
        font-size: 20px;
    }

    .flat-offer-category {
        width: 102px;
        height: 102px;
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -ms-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s;
        position: relative;
    }
    .flat-offer-category::before {
        content: "";
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        border: 3px solid #f3f1f2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        z-index: 3;
    }
    .flat-offer-category::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 102%;
        height: 3px;
        width: 50px;
        background-color: #e2dee0;
        transform: translate(0, -50%);
    }
    .flat-offer-category:last-child::after {
        display: none;
    }
    .flat-offer-category .fas {
        font-size: 36px;
    }

    .flat-offer-info-title {
        font-size: 24px;
        margin-bottom: 25px;
        width: 100%;
    }
}